@charset "UTF-8";

/*  font-family: "Albert Sans", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Albert Sans", sans-serif;
    overflow-x: hidden; overflow-y: auto;
}

.section {
    height: 100vh;
}

.section:last-child {
    height: initial;
}

/***** header *****/
.blur {
    backdrop-filter: blur(3px);
  }
  
header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2rem 1rem;

    font-size: 0.8rem;

    position: fixed;
    width: 100%;
    z-index: 99;

    color: rgb(43, 43, 43);

    backdrop-filter: blur(3px);
}

header img {
    width: 150px;
}

header .nav-menu p {
    margin: 0;
}

header .nav-menu ul li {
    display: inline;
}

header .search-box .search-txt {
    border-radius: 25px;
    height: 30px;
    border: 1px solid #222;
}

header .search-box input::placeholder {
    padding-left: 15px;
}

header .nav-login a:last-child {
    background-color: #D9D9D9;
    padding: 0 0.5rem;
}

/***** section1 *****/
.main {
    width: 100%;
    height: 100vh;

    position: relative;
    background: url(./images/main.jpg) no-repeat center center / cover;
    color: white;

    /* overflow: hidden; */
}

.main::-webkit-scrollbar {
    display: none;
}

.main .main-text {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 8rem;
}

.main .main-text .text-top {
    position: absolute;
    top: 8rem;
    left: 1rem;

}

.main .main-text .text-bottom {
    position: absolute;
    bottom: 5rem;
    right: 1rem;
}

.main .main-des {
    position: absolute;
    bottom: 5rem;
    left: 1rem;
}

.portfolio-slide-container {
    /* overflow: hidden; */
    overflow-x: auto;
    display: flex;
    transition: 0.3s;

    position: absolute;
    top: 55%;
    transform: translateY(-55%);
    left: 1rem;
}

.portfolio-slide-container .animation-wrap a {
    width: 30rem;
    height: 18rem;
    margin-right: 10rem;
    display: flex;
}

/* .swiper-slide {
    width: initial;
} */
.portfolio-slide-container .animation-wrap {
    display: flex;
}

.portfolio-slide-container .swiper-slide {
    flex-shrink: 1
}
.slide-wrap {
    /* overflow-y: hidden; */
  }
.portfolio-slide-wrap .slide1 {
    background: url(./images/scroll1.jpg) no-repeat center center / cover;
}

.portfolio-slide-wrap .slide2 {
    background: url(./images/scroll2.jpg) no-repeat center center / cover;
}

.portfolio-slide-wrap .slide3 {
    background: url(./images/scroll3.jpg) no-repeat center center / cover;
}

.portfolio-slide-wrap .slide4 {
    background: url(./images/scroll4.jpg) no-repeat center center / cover;
}

.portfolio-slide-wrap .slide5 {
    background: url(./images/scroll5.jpg) no-repeat center center / cover;
}

/***** section2 *****/
.brand-des {
    padding-top: 28rem;
    text-align: center;
    transition: all 0.5s;

    overflow-x: hidden;
}

.brand-des p {
    font-size: 1rem;
    line-height: 1.3;
    font-weight: 300;
}

.brand-des .brand-des-big {
    padding-top: 7rem;
    font-size: clamp(5rem, 4.792vw, 9.2rem);
}

.brand-des .brand-des-big a {
    background-image: url("./images/footer.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;

    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.brand-des .brand-des-big .brand-des-banner {
    animation: brandBanner 30s linear infinite;
    white-space: nowrap;
}

.brand-des .brand-des-big .brand-des-banner p {
    font-size: clamp(5rem, 4.792vw, 9.2rem);
    white-space: nowrap;
}

@keyframes brandBanner {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

/***** section3(video) *****/
.video {
    transform: translate3d(0px, -9px, 0px);
    padding-top: 10%;

}

.video .video-bg {
    padding: 0;
    aspect-ratio: 16 / 9;
    position: relative;
    overflow: hidden;
    color: #fff;
}

.video .youtube {
    width: 100%;
    height: 100%; /* 높이를 100%로 설정하여 부모 요소의 크기에 맞게 설정합니다. */
    position: absolute; /* 절대 위치 지정 */
    top: 0; /* 부모 요소의 상단에 배치 */
    left: 0; /* 부모 요소의 좌측에 배치 */
    z-index: -1;
}

/***** section4(category) *****/
.category {
    position: relative;
    z-index: 99;
    background-color: #fff;

    transform: translateZ(-3px);
}
.category .category-des {
    text-align: right;
    padding: 15rem 10rem 0;
}

.category .category-des span {
    text-transform: capitalize;
    font-weight: bold;
}

.category .category-des p {
    font-size: 1.2rem;
    margin-top: 1.5rem;
}

.category .category-main {
    margin-left: 10rem;
    font-size: 6rem;
}

.category .category-main a {
    display: flex;
    align-items: center;
}

.category .category-main .main-a p {
    font-weight: 500;
}

.category .category-main .main-a p:hover {
    font-weight: 500;

    background-image: url("./images/footer.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;

    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.category .category-main .category-kr {
    font-size: 1rem;
    margin-left: 2rem;
    border: 1px solid #000000;
    border-radius: 25px;
    width: 7rem;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
}

.category .category-main a:nth-child(2) .category-kr {
    margin-right: 2rem;
}

.category .category-main a:nth-child(6) .category-kr {
    margin-right: 2rem;
}

.category .category-main .category-main-a1 {
    margin-left: 6rem;
}

.category .category-main .category-main-a4 {
    margin-left: 18rem;
}

.category .category-main .category-main-a5 {
    margin-left: 8rem;
}

.category .category-main .category-main-a6 {
    margin-left: 10rem;
}

/***** section5(pic) *****/
.pic {
    position: relative;
    padding: 0 5rem 28rem;
    margin-top: 20rem;
    display: flex;
}

.pic .pic-text {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 95%;
    white-space: nowrap;
    overflow: hidden;
    justify-content: flex-start;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pic .pic-text p {
    -webkit-background-clip: text;
    background-clip: text;
    writing-mode: vertical-rl;
    font-size: 20.5rem;
    font-weight: 300;

    animation: picText 30s linear infinite;

    background-image: url("./images/footer.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;

    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

@keyframes picText {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100%);
    }
}

.pic .pic-text::before,
.pic .pic-text::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 30%;
    background: linear-gradient(to bottom, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
}

.pic .pic-text::after {
    top: auto;
    bottom: 0;
    background: linear-gradient(to top, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
}

.pic .pic-wrap {
    display: flex;
    flex-direction: column;
}

.pic .pic-pic {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pic .pic-pic a {
    width: 40%;
}

.pic .pic-wrap .pic-pic .pic-down {
    margin-top: 10rem;
    text-align: right;
}

.pic .pic-pic img {
    width: 80%;
}

/***** footer *****/
footer {
    background: url(./images/footer.png) no-repeat center center / cover;
    padding: 100px 60px 90px;
    height: inherit;

    color: rgb(43, 43, 43);
}

.footer-big p {
    font-size: 1rem;
}

.footer-big h2 {
    font-size: 2rem;
    font-weight: 400;
}

.footer-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 300px;
}

.footer-wrap ul li {
    font-size: 16px;
    margin: 20px;
}

.footer-wrap .footer-right-wrap .footer-right {
    text-align: right;
}

.footer-wrap .footer-right img {
    width: 240px;
}

.footer-wrap .footer-follow {
    display: flex;
    flex-grow: 1;
}

.footer-wrap .footer-follow ul {
    display: flex;
    margin-top: 100px;
    flex-grow: 1;
}

.footer-wrap .footer-follow ul li {
    margin: 0;
    flex-grow: 1;
}
.footer-wrap ul li a:hover {
    text-decoration: underline;
}

.footer-wrap .footer-follow ul:nth-child(2) li {
    text-align: center;
}

.footer-wrap .footer-follow ul:last-child li {
    text-align: right;
}