@charset "UTF-8";

/*  font-family: "Albert Sans", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Albert Sans", sans-serif;
}

/***** header *****/
header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2rem 1rem;

    font-size: 0.8rem;

    position: fixed;
    width: 100%;
    z-index: 99;

    color: white;
}
header img {
    width: 100px;
}
header .nav-menu p {
    margin: 0;
}
header .nav-menu ul li {
    display: inline;
}

header .search-box .search-txt {
    border-radius: 25px;
    height: 30px;
    border: 1px solid #222;
}
header .search-box input::placeholder {
    padding-left: 15px;
}
header .nav-login a:last-child{
    background-color: #D9D9D9;
    padding: 0 0.5rem;
}

/***** section1 *****/
.section {
    height: 100vh;
}
.main {
    width: 100%;
    height: 100vh;

    position: relative;
    background: url(./images/main.jpg) no-repeat center center / cover;
    color: white;
}
.main::-webkit-scrollbar{
    display: none; 
}
.main .main-text {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 8rem;
}
.main .main-text .text-top {
    position: absolute;
    top: 8rem; left: 1rem;
    transition: 0.3s;
}   
.main .main-text .text-bottom {
    position: absolute;
    bottom: 5rem; right: 1rem;
}
.main .main-des {
    position: absolute;
    bottom: 5rem; left: 1rem;
}
.portfolio-slide-wrap {
    display: flex;
    /* transition: all 1s 2s; */

    position: absolute;
    top: 55%; transform: translateY(-55%);
    left: 1rem;

    overflow-x: auto;
    white-space: nowrap;
    }
.portfolio-slide-wrap a{
    width: 30rem; height: 18rem;
    margin-right: 10rem;
    display: flex;
}
.portfolio-slide-wrap .slide1 {
    background: url(./images/scroll1.jpg) no-repeat center center / cover;
}
.portfolio-slide-wrap .slide2 {
    background: url(./images/scroll2.jpg) no-repeat center center / cover;
}
.portfolio-slide-wrap .slide3 {
    background: url(./images/scroll3.jpg) no-repeat center center / cover;
}
.portfolio-slide-wrap .slide4 {
    background: url(./images/scroll4.jpg) no-repeat center center / cover;
}
.portfolio-slide-wrap .slide5 {
    background: url(./images/scroll5.jpg) no-repeat center center / cover;
}

/***** section2 *****/
.brand-des {
    padding-top: 28rem;
    text-align: center;
    transition: all 0.5s;

    overflow-x: hidden;
}
.brand-des p {
    font-size: 1rem;
    line-height: 1.3;
    font-weight: 300;
}
.brand-des .brand-des-big {
    padding-top: 7rem;
    font-size: clamp(5rem,4.792vw,9.2rem);  
}
.brand-des .brand-des-big .brand-des-banner {
    animation: brandBanner 30s linear infinite;
    white-space: nowrap;
}
.brand-des .brand-des-big .brand-des-banner p {
    font-size: clamp(5rem,4.792vw,9.2rem);
    white-space: nowrap;
}
@keyframes brandBanner {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

/***** section3(video) *****/
.video {
    transform: translate3d(0px, -9px, 0px);
    padding-top: 10%;

}
.video iframe {
    width: 100%;
    height: 100%;
}

/***** section4(category) *****/
.category .category-des {
    text-align: right;
    padding: 15rem 10rem 0;
}
.category .category-des span {
    text-transform: capitalize;
}
.category .category-des p {
    font-size: 1.2rem;
    margin-top: 1.5rem;
}
.category .category-main {
    margin-left: 10rem;
    font-size: 6rem;
}
.category .category-main a {
    display: flex;
    align-items: center;
}
.category .category-main .category-kr {
    font-size: 1rem;
    margin-left: 2rem;
    border: 1px solid #000000;
    border-radius: 25px;
    width: 7rem; height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
}
.category .category-main a:nth-child(2) .category-kr {
    margin-right: 2rem;
}
.category .category-main a:nth-child(6) .category-kr {
    margin-right: 2rem;
}
.category .category-main .category-main-a1 {
    margin-left: 6rem;
}
.category .category-main .category-main-a4 {
    margin-left: 18rem;
}
.category .category-main .category-main-a5 {
    margin-left: 8rem;
}
.category .category-main .category-main-a6 {
    margin-left: 10rem;
}
/***** section5(pic) *****/
.pic {
    position: relative;
    padding: 20rem 5rem 0 0;
    display: flex;
}
.pic .pic-text {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 95%;
    white-space: nowrap;
    overflow: hidden;
    justify-content: flex-start;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.pic .pic-text p {
    -webkit-background-clip: text;
    background-clip: text;
    writing-mode: vertical-rl;
    font-size: 20.5rem;
    font-weight: 300;
}
.pic .pic-text::before,.pic .pic-text::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 30%;
    background: linear-gradient(to bottom, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
}
.pic .pic-wrap {
    display: flex;
}
.pic .pic-pic {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pic .pic-pic a {
    width: 40%;
}
.pic .pic-pic img {
    width: 100%;
}

/***** footer *****/
footer {
    background: url(./images/footer.png) no-repeat center center / cover;
}